.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage

# Configurations
config/*
!sample.json

# VSCode
.editorconfig
.vscode

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/.idea
/.idea_modules
/.classpath
/.project
/.settings

# GraphQL
schema.json
schema.graphql

# Semantic UI
semantic

# Vagrant
.vagrant
.yarn
